header.index {
  position: fixed;
  top: 0;
  min-height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.header-nav {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

header button {
  background: none;
  border: none;
}

button.header-about {
  margin-left: 1rem;
}
