section.skills {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin: 1rem;
  margin-top: 2.5rem;
  flex: 2;
}
section.skills h3 {
  min-width: 100px;
}

ul.skills-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

li.skills-content {
  min-width: 110px;
  list-style-type: disc;
}
