* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 80vh;
  background-color: rgb(246, 235, 228);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  margin-top: 116px;
}

main.main-curriculum h2 {
  text-align: center;
}
main.main-curriculum {
  align-items: center;
}
main.main-curriculum h2 {
  font-size: 34px;
}

main.main-projects > img {
  margin: 0 auto 2rem;
  height: 90px;
  width: 250px;
}

main.main-projects > img:hover {
  cursor: pointer;
}

hr {
  width: 95%;
  margin: 1.5rem auto;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(242, 173, 62);
}

@media (min-width: 1024px) {
  main.main-curriculum h2 {
    font-size: 42px;
  }
}
